        /*fonts*/

h2 {
    font-family: roberts;
    font-size: 30px;
    text-align: center;
    color: #bb5526;
}

h3 {
    font-family: light-font;
    font-size: 18px;
    box-sizing: border-box;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h3 i {
    font-size: 16px;
}

.onder-info {
    font-family: modernsans;
    font-size: 14px;
    font-style: italic;
    box-sizing: border-box;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 10px;
}

h4 {
    font-family: roberts;
    font-size: 20px;
    color: #96451f;
    box-sizing: border-box;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.h4onder {
    color: #96451f;
}


        /*menukaart*/

.menutitel {
    width: 340px;
    padding: 5px;
}

.menu-dingen{
    width: 165px;
    padding: 5px;
}

.ontbijt {
    background-color: rgb(245, 237, 225);
    float: left;
}

.lunch {
    background-color: rgb(212, 201, 184);
    float: right;
}

        /* linkjes */

.link-img:hover {
    opacity: 0.5;
}

.link-img {
    width: 300px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    margin-top: 0px;
}

h2 .link-menu {
    box-sizing: border-box;
    margin-bottom: 0px;
}

.linktitelmenu {
    width: 350px;
    text-align: center;
}

.links {
    float: left;
}

.rechts {
    float: right;
}

.terug-menu {
    font-family: light-font;
    font-size: 20px;
}