                                                    /* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: white;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


header {
    color:#e46e37;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}


footer {
    text-align: center;
    padding-bottom: 10px;
    clear: both;
}

                                                    /* Fonts*/

@font-face{
    Font-family: sierlijk;
    src: url(fonts/amalfi-coast.ttf);
}

@font-face{
    Font-family: snowby;
    src: url(fonts/snowby.ttf)
}

                                                    /* hoofdpagina blokjes */

div.blok-tekst {
    border: 2px solid rgb(167, 167, 167);
    padding: 5px;
    margin: 10px;
    height: absolute;
}

#aanbieding {
    float:right;
    width: 310px;
}

div#nieuwe-menukaart {
    float:left;
    width: 310px;
}

#avocado-img {
    float: left;
    border: 2px solid rgb(167, 167, 167);
    padding: 5px;
    margin: 10px;
    width: 310px;
}

#NIEUWS {
    clear: both;
}

#vesteging-img {
    height: 200px;
}

#blok-horizontaal {
    float: right;
    width: 320px;
    /*border: 1px solid red;*/
}

.kopje-blok {
    text-align: center;
    color: #e46e37;
}

.onderkopje-blok {
    text-align: center;
    color: black;
    font-size: 25px;
    border-bottom: 1px solid rgb(167, 167, 167);
    padding: 0px;
    margin: 0px;
}

#aanbieding-text{
    font-family: snowby;
    font-size: 50px;
    margin: 2px;
    padding: 0;
    box-sizing: border-box;
}

                                                    /* specifiek hoofdpagina*/

.hoofdpagina-img{
    margin: auto;
    width: 700px;
    height: 400px;
    /*opacity: 0.75;*/
}

#hoofdtitel{
    position: absolute;
    top: 40px;
    left: 50px;
    color: white;
    font-family: sierlijk;
    text-shadow: 4px 4px 6px black;
}

                                                        /* specifieke stijlen */

img.logo-img {
    float: left;
    margin: 0px;
    background-color: #ff864e;
}


.titel-bijpagina {
    font-size: 30px;
    border-bottom: 1px solid #e46e37;
    padding-bottom: 10px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


                                                        /* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #ff864e;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(255, 168, 110);
}

nav li a.active {
    background-color: #e46e37;
}




