
h2 {
    font-family: cheveuxdange;
    font-size: 30px;
    text-align: center;
}

#ontbijt {
    width: 340px;
    background-color: rgb(238, 225, 206);
    padding: 5px;
    float: left;
}

#lunch {
    width: 340px;
    background-color: rgb(212, 201, 184);
    padding: 5px;
    float: right;
}