        /*fonts*/

h2 {
    font-family: roberts;
    font-size: 30px;
    text-align: center;
    color: #bb5526;
}

h3 {
    font-family: light-font;
    font-size: 18px;
    box-sizing: border-box;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h3 i {
    font-size: 16px;
}

.onder-info {
    font-family: modernsans;
    font-size: 14px;
    font-style: italic;
    box-sizing: border-box;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 10px;
}

h4 {
    font-family: roberts;
    font-size: 20px;
    color: #96451f;
    box-sizing: border-box;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.h4onder {
    color: #96451f;
}


             /*menukaart*/

/* algemeen */
.menutitel {
    width: 500px;
    padding: 5px;
    margin-left: 100px;
    margin-right: 100px;
}

.menu-dingen{
    width: 235px;
    padding: 10px;
}

.blok-links{
    margin-left: 100px;
}


/*specifieke blokjes*/
/*ontbijt*/
.ontbijt {
    background-color: rgb(245, 237, 225);
    float: left;
}


.ontbijtplank {
    background-color: rgb(233, 143, 102);
    width: 260px;
    padding: 10px;
    margin: 75px;
    clear: both;
    z-index: 3;
}

.img-smoothiebowl{
   position: absolute;
   left: 350px;
   top: 580px;
   z-index: 3;
}

.onderstuk-ontbijt{
    width: 500px;
    background-color:  rgb(245, 237, 225);
    position: absolute;
    left: 100px;
    top: 769px;
    z-index: 1;
}

/*lunch*/
.lunch {
    background-color: rgb(212, 201, 184);
    float: left;
}

#img-soep{
   position: absolute;
   left: 350px;
   top: 660px;
   z-index: 3;
}

#soep {
    background-color: rgb(233, 143, 102);
    width: 260px;
    padding: 10px;
    margin: 75px;
    clear: both;
    z-index: 3;
}

#onderstuk-lunch{
    width: 500px;
    background-color:  rgb(212, 201, 184);
    position: absolute;
    left: 100px;
    top: 700px;
    z-index: 1;
}

          /* linkjes */

.link-img:hover {
    opacity: 0.5;
}

.link-img {
    width: 300px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    margin-top: 0px;
    opacity: 0.85;
}

h2 .link-menu {
    box-sizing: border-box;
    margin-bottom: 0px;
}

.linktitelmenu {
    width: 350px;
    text-align: center;
}

.links {
    float: left;
}

.rechts {
    float: right;
}

.terug-menu {
    font-family: light-font;
    font-size: 20px;
}